{% extends "index.html" %}

{% load static %}

{% block title %}
<h1 class="mb-5">About</h1>
{% endblock %}



{% block contenido1 %}


Juan Santiago Rivero,23 Años de Edad.

Principalmente la web no tiene un uso especifico mas alla de llenar datos para hacer un crud,pero Contiene un apartador de chat,
donde los usuarios que estan logueados pueden chatear en tiempo real,(Eso se puede ver en el video),luego de llenar datos personales,
tambien se pueden llenar datos Financieros y hacer un crud con ellos.




{% endblock %}