{% extends "index.html" %}
{% load static %}


{% block linknuevo %}

{% if user.is_authenticated %}
<a class="navbar-brand" href="{% url 'Inix' %}">Inicio</a>
<a class="btn btn-primary" href="{% url 'Datos' %}">Datos Personales</a>
<a class="btn btn-primary" href="http://127.0.0.1:8000/MS/Facu">Chat</a>
<a class="btn btn-primary" href="{% url 'inbox'  %}">Inbox</a>
<h5>Bienvenido {{ user.username }}</h5>
<a class="btn btn-danger" href="{% url 'logout' %}">Salir</a>
{% else %}
<a class="navbar-brand" href="{% url 'Inix' %}">Inicio</a>
<a class="btn btn-primary" href="http://127.0.0.1:8000/Login">Iniciar Seccion</a>
<a class="btn btn-primary" href="{% url 'Busqueda2' %}">Registrarse</a>
{% endif %}

{% endblock %}

{% block title %}
<h1 class="mb-5">Agregar Avatar</h1>
{% endblock %}

{% block titulo %}
<title>Agregar Avatar para: {{ usuario.username }}</title>
{% endblock %}

{% block contenido1 %}


<form action="{% url 'agregarAvatar' %}" method="POST" enctype="multipart/form-data"> {% csrf_token %}


<table>

    {{ form.as_table }}

</table>

<input type="submit" value="Agregar Avatar">


</form>





{% endblock %}