{% extends "Formularios.html" %}

{% load static %}

{% block title %}
<h1 class="mb-5">Registrarse</h1>
{% endblock %}

{% block titulo1 %}
<title>Registrarse</title>
{% endblock %}


{% block linkreplace %}
<a class="navbar-brand" href="{% url 'Inix' %}">Inicio</a>
<a class="btn btn-primary" href="{% url 'detalle' %}">Leer Todos Los Datos</a>
<a class="btn btn-primary" href="{% url 'Busqueda2' %}">Buscar en la BD</a>
<a class="btn btn-danger" href="{% url 'register' %}">Registrarse</a>
<a class="btn btn-primary" href="http://127.0.0.1:8000/Login">Iniciar Seccion</a>
{% endblock %}




{% block contenido %}

<h1>{{mensaje}}</h1>

<h2>Crear Usuario</h2>


<form action="{% url 'register' %}" method="POST">{% csrf_token %}
    
    <table>

    {{ form.as_table }}

    </table>


    <input type="submit" color="white" value="Crear Usuario">

    

    
    <br>
    
    <a class="fcc-btn" href="http://127.0.0.1:8000/Buscar">Buscar en la Base de Datos</a>


    {% endblock %}